html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.buttons {
  position: absolute;
  top: 100px;
  right: 100px;
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: space-between;
  z-index: 100;
}

.button {
  cursor: pointer;
}

.button-rec {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #A60000;
  outline: none;
}

.button-rec:hover {
  box-shadow: 0 0 10px 3px #FF4040;
}

.button-play {
  width: 0;
  height: 0;
  background-color: transparent;
  border: 20px solid #413030;
  border-left-color: #413030;
  border-right-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: scaleY(0.8);
}

.button-play.active {
  width: 0;
  height: 0;
  background-color: transparent;
  border: 20px solid #A60000;
  border-left-color: #A60000;
  border-right-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: scaleY(0.8);
}

.button-play.active:hover {
  box-shadow: 0 0 10px 3px #FF4040;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
